.main-promotion-banner {
    margin: 20px auto 20px;

    @media #{$md} {
        margin: 20px auto 40px;

    }

    @media #{$lg} {
        margin: 64px auto 40px;

    }

    img {

        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }


}

.main-promtion-share {
    // margin: 48px auto 64px;
    margin: 30px auto;

    @media #{$lg} {
        margin: 48px auto 64px;

    }

    p {
        @media #{$lg} {
            font-size: 20px;

        }

        font-size: 16px;

        margin: 0 0 16px;
        text-align: center;

    }

    .sharing-list {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;

        li {
            display: inline-block;
            margin: 0 8px 0 0;

            &:last-child {
                margin-right: 0;

            }

            img {
                width: 40px;
                height: 40px;
                display: block;
                border-radius: 50em;
            }
        }
    }
}

.main-promotion-relate {

    @media #{$md} {
        margin: 0 0 80px;

    }

    @media #{$lg} {
        margin: 0 0 80px;

    }

    .related-item {
        margin: 0 0 40px;

        @media #{$md} {
            margin: 0;

        }

        a {
            display: block;
            margin: 0 0 15px;

            @media #{$lg} {
                margin: 0 0 20px;

            }


        }

        h4 {
            font-size: 20px;

            text-align: center;
            margin: 0 0 8px;



            @media #{$md} {
                font-size: 16px;

            }

            @media #{$lg} {
                font-size: 20px;

            }

            a {

                text-decoration: none;
                color: $dark-grey;
                margin: 0;
            }
        }

        p {
            text-align: center;
            margin: 0;
            font-size: 16px;

            @media #{$md} {
                font-size: 14px;

            }
        }

        img {
            max-width: 100%;
            height: auto;
            display: block;
        }

    }

}